<div class="login-container layout-column layout-align-center-center flex">
    <h1 class="login-title">Cardster Foundry</h1>
    <div class="layout-column layout-align-center-center">
      {{#paper-button accent=true raised=true onClick=(action "login")}}
        Login with Github
      {{/paper-button}}
    </div>
</div>

